
.simple-donut-chart-widget {
    align-items: center;
    display: flex;
    margin-bottom: 24px;
    position: relative;
}

.simple-donut-chart-widget .donut {
    align-items: center;
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    margin-right: 16px;
    width: 100%;
}

.simple-donut-chart-widget .donut-slice {
    transition: stroke-width 0.2s ease;
    cursor: pointer;
}

.simple-donut-chart-widget .simple-donut-chart-info {
    position: relative;
}

.simple-donut-chart-widget .donutchart-legend {
    margin-bottom: 30px;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: max-content;
}

.simple-donut-chart-widget .donutchart-legend p:first-of-type {
    flex: 1;
    margin-right: 16px;
}

.simple-donut-chart-widget .donutchart-legend li {
    align-items: center;
    display: flex;
    list-style: none;
}

.simple-donut-chart-widget .donutchart-legend li:hover {
    cursor: pointer;
}

.simple-donut-chart-widget .donutchart-legend p {
    margin: 0;
}

.simple-donut-chart-widget .donutchart-legend span {
    border-radius: 50px;
    display: block;
    height: 16px;
    margin-right: 8px;
    width: 16px;
}

.simple-donut-chart-widget .donutchart-chart {
    align-self: center;
    display: flex;
    grid-template-columns: repeat(100, 1fr);
    grid-auto-flow: column;
    margin: 0;
    padding: 0;
}

.simple-donut-chart-widget .donutchart-chart li {
    list-style: none;
    min-height: 20px;
    position: relative;
}

.simple-donut-chart-widget .donutchart-chart.donutchart-chart--rounded li:first-of-type {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.simple-donut-chart-widget .donutchart-chart.donutchart-chart--rounded li:last-of-type {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.simple-donut-chart-widget .donutchart-chart li:hover {
    cursor: pointer;
}

.simple-donut-chart-widget .donutchart-legend li .donutchart-tooltip {
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    display: flex;
    left: var(--x);
    opacity: 0;
    padding: 4px 8px;
    position: fixed;
    pointer-events: none;
    transition: opacity 0.2s ease, transform 0.2s ease;
    top: var(--y);
    will-change: opacity;
    width: max-content;
    z-index: 1;
}

.simple-donut-chart-widget .donutchart-legend li .donutchart-tooltip.show-tooltip {
    opacity: 1;
    transform: translateY(-60%);
}

.simple-donut-chart-widget .donutchart-chart li .donutchart-tooltip p {
    margin: 0;
    padding: 4px 8px;
}

.simple-donut-chart-widget .donutchart-meter {
    border-top: solid 1px black;
    display: flex;
    justify-content: space-between;
}

.simple-donut-chart-widget .donutchart-meter .item {
    background-color: black;
    height: 9px;
    width: 1px;
}

.simple-donut-chart-widget .donutchart-indicators {
    display: flex;
}

.simple-donut-chart-widget .donutchart-indicator {
    flex: 1;
}

.simple-donut-chart-widget .donutchart-indicator:nth-child(2) {
    text-align: center;
}

.simple-donut-chart-widget .donutchart-indicator:last-of-type {
    text-align: right;
}

.simple-donut-chart-widget .donutchart-tooltip {
    position: absolute;
}
